

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container">
          <span style="font-size: 50px; font-weight: bold;">About Me</span>


      </div>
  </div>
  <!-- Page Header End -->




    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-4 align-items-end mb-4">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                  <img class="img-fluid rounded" src="assets/img/about.jpg">
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                  <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Mission Statement</p>
                  <h1 class="display-5 mb-4">To utilize my software engineering skills to develop innovative and user-centric solutions, driving positive change in the digital landscape.</h1>

                  <div class="border rounded p-4">
                      <nav>
                          <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                              <button class="nav-link fw-semi-bold active" id="nav-story-tab" data-bs-toggle="tab"
                                  data-bs-target="#nav-story" type="button" role="tab" aria-controls="nav-story"
                                  aria-selected="true">About Me</button>
                              <button class="nav-link fw-semi-bold" id="nav-mission-tab" data-bs-toggle="tab"
                                  data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                                  aria-selected="false">Experience</button>
                              <button class="nav-link fw-semi-bold" id="nav-vision-tab" data-bs-toggle="tab"
                                  data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                                  aria-selected="false">Education</button>
                          </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-story" role="tabpanel"
                              aria-labelledby="nav-story-tab">
                              <p>I am a highly accomplished professional with a diverse background in Human Resources and Software Engineering, holding a Bachelor's Degree in Human Resources (First Honours) and a Higher Diploma in Software Engineering.</p>
                              <p class="mb-0"> With expertise in HR analytics, data analysis, and software development, I bring a unique blend of skills to drive strategic decision-making and technological advancements within organizations.</p><br>
                              <p><a href="https://drive.google.com/file/d/1_jdwOp1KHWhHsjTt3Y59wJyAGRbsv2mh/view?usp=sharing" target="_blank" >Download My CV</a></p>
                          </div>
                          <div class="tab-pane fade" id="nav-mission" role="tabpanel"
                              aria-labelledby="nav-mission-tab">
                              <p>Human Resources Analytics Manager, OCBC Bank (2015 - Present)</p>

                          </div>
                          <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                              <p>Bachelor Degree in Human Resources Management (First Honours), City University of Hong Kong</p>
                              <p class="mb-0">Higher Diploma in Software Engineering Technician, Centennial College</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>




          <!-- <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="row g-4">
                  <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                      <div class="h-100">
                          <div class="d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                  <i class="fa fa-times text-white"></i>
                              </div>
                              <div class="ps-3">
                                  <h4>No Hidden Cost</h4>
                                  <span>Clita erat ipsum lorem sit sed stet duo justo</span>
                              </div>
                              <div class="border-end d-none d-lg-block"></div>
                          </div>
                          <div class="border-bottom mt-4 d-block d-lg-none"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                      <div class="h-100">
                          <div class="d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                  <i class="fa fa-users text-white"></i>
                              </div>
                              <div class="ps-3">
                                  <h4>Dedicated Team</h4>
                                  <span>Clita erat ipsum lorem sit sed stet duo justo</span>
                              </div>
                              <div class="border-end d-none d-lg-block"></div>
                          </div>
                          <div class="border-bottom mt-4 d-block d-lg-none"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                      <div class="h-100">
                          <div class="d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                  <i class="fa fa-phone text-white"></i>
                              </div>
                              <div class="ps-3">
                                  <h4>24/7 Available</h4>
                                  <span>Clita erat ipsum lorem sit sed stet duo justo</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
  <!-- About End -->
