
<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container">
        <span style="font-size: 50px; font-weight: bold;">Projects</span>

      </div>
  </div>
  <!-- Page Header End -->



    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
              <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Team</p>
              <h1 class="display-5 mb-5">Exclusive Team</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="team-item">
                      <img class="img-fluid rounded" src="assets/img/project-1.png" alt="">
                      <div class="team-text">
                          <h4 class="mb-0">E-Commerce Website</h4>
                          <div class="team-social d-flex">
                            As one of the major developer, I was responsible for designing and developing a secure e-commerce website. Collaborating closely with the client, I created a user-friendly interface and implemented seamless checkout processes. The outcome was increased sales and customer satisfaction, driven by an engaging shopping experience.
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="team-item">
                      <img class="img-fluid rounded" src="assets/img/project-2.png" alt="">
                      <div class="team-text">
                          <h4 class="mb-0">Content Management System</h4>
                          <div class="team-social d-flex">
                            I was responsible for designing and developing a secure e-commerce website. Collaborating closely with the client, I created a user-friendly interface and implemented seamless checkout processes. The outcome was increased sales and customer satisfaction, driven by an engaging shopping experience and secure payment integration.
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="team-item">
                      <img class="img-fluid rounded" src="assets/img/project-3.png" alt="">
                      <div class="team-text">
                          <h4 class="mb-0">Booking and Reservation Platform</h4>
                          <div class="team-social d-flex">
                            As the backend developer, I built a scalable booking platform with real-time availability updates, automated email confirmations, and comprehensive reporting features. This platform simplified the booking process and increased operational efficiency for the client. The outcome was higher efficiency in managing bookings, and valuable business insights.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team End -->
