

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #828282;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 5px;
  text-decoration: none;

}

#logo {
  text-align: center;
  padding: 27px 17px;

}

li a:hover {
  background-color: #111;
}


// nav
// {
//    position: fixed;

//    padding-right: 0;
//    padding-left: 0;
//    width: 100%;
// }
