    <!--

      Student Name: Tsam Wong
      Stduent ID: 301253584
      Date: 2 June 2023
      Page: Navigation Bar


    -->


<div class = "menu">


<nav>

  <ul>
  <li id="logo"><img src="../assets/img/logo.png" width="70"></li>
  <li><a routerLink="home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="about" routerLinkActive="active">About</a></li>
  <li><a routerLink="projects" routerLinkActive="active">Projects</a></li>
  <li><a routerLink="services" routerLinkActive="active">Services</a></li>
  <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
  </ul>

</nav>
</div>



<router-outlet></router-outlet>


